<div class="banner-image">
    <img src="/assets/banner.jpg" width="100%" />
</div>
<div class=" container discount pt pb">
    <mat-card>
        <mat-card-content><span>Flat 80%</span> </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content><span>Flat 70%</span> </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content><span>Flat 60%</span> </mat-card-content>
    </mat-card>
</div>
<div class="container home-category pt ">
    <h1>Best Of Categories on sale</h1>
    <br />
    <div class="images">
        <div class="image">
            <img src="/assets/men-casual.jpg" class="image-fit">
            <span>Men Casual</span>
        </div>
        <div class="image">
            <img src="/assets/men-formal.jpg" class="image-fit">
            <span>Men Formal</span>
        </div>
        <div class="image">
            <img src="/assets/men-sport.jpg" class="image-fit">
            <span>Men Sport</span>
        </div>
        <div class="image">
            <img src="/assets/women-western.jpg" class="image-fit">
            <span>Western Wear</span>
        </div>
        <div class="image">
            <img src="/assets/w-footwear.jpeg" class="image-fit">
            <span>Footwear</span>
        </div>
        <div class="image">
            <img src="/assets/heels.jpg" class="image-fit">
            <span>Heels</span>
        </div>
        <div class="image">
            <img src="/assets/casual-shoe.jpg" class="image-fit">
            <span>Casual Shoe</span>
        </div>
        <div class="image">
            <img src="/assets/g-cloth.jpg" class="image-fit">
            <span>Girls Clothing</span>
        </div>
        <div class="image">
            <img src="/assets/dress.jpg" class="image-fit">
            <span>Dress</span>
        </div>
    </div>
</div>
<app-footer></app-footer>